.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: 500px;
    min-width: 300px;
    width: 1200px;
    margin: 10px 5vw 10px 5vw;
    background-color: #D16666;
    overflow: hidden;
    border-radius: 15px 15px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: seashell;
}

.img-container {
    /* min-width: 100%;
    min-width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.info-container {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.info-container .recipe-title {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color:#502322;
}